body {
    font-family: Arial, sans-serif;
    background-color: #111111;
    transition: background-color 0.3s ease;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.header img:hover {
    transform: scale(1.1);
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    display: flex;
}

.navbar-nav li {
    margin-right: 20px;
}

.navbar-nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    color: #ff4081;
}

.about, .experience, .skills, .projects, .contact {
    padding: 40px 20px;
    transition: background-color 0.3s ease;
}

.about {
    background-color: #222;
}

.experience {
    background-color: #282828;
}

.skills {
    background-color: #2e2e2e;
}

.projects {
    background-color: #333;
}

.contact {
    background-color: #3a3a3a;
}

h2 {
    position: relative;
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff4081;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50px;
    height: 4px;
    background-color: #ff4081;
}

p {
    color: #bbb;
    line-height: 1.6;
}

.separador {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 40px 0;
}

.card {
    background-color: #1e1e1e;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff4081;
}

.card-text {
    font-size: 16px;
    color: #ccc;
}